{% extends "index.html" %}
{% block content %}

{% macro task_table(content, table_id, title, running=False, profiles=False) %}
<div class="well inspire-well">
    <div class="bai-box-title">
      <span>{{ title }}</span>
    </div>

  <div class="tortoiseSingleResults">
  <table id="{{ table_id }}" class="table table-striped table-hover table-bordered tortoise">
      <thead>
          <th>
                 <span class="glyphicon glyphicon-sort-by-alphabet"></span> Bibsched Process ID
          </th>
          <th>
                 <span class="glyphicon glyphicon-sort-by-alphabet"></span> Cluster
          </th>
          {% if running %}
          <th>
                 Progress
          </th>
          {% endif %}
          <th>
                 <span class="glyphicon glyphicon-sort-by-alphabet"></span> Threshold
          </th>
          <th>
                 <span class="glyphicon glyphicon-sort-by-alphabet"></span> Start
          </th>
          <th>
                 {% if running %}
                 Kill
                 {% else %}
                 <span class="glyphicon glyphicon-sort-by-alphabet"></span> End
                 {% endif %}
          </th>
      </thead>
      <tbody>
      {% for bibsched_id, cluster, phase, progress, args, start, end in content %}
      <tr>
          <td>
                 {% if profiles %}
                 <a href="{{ base_url }}/author/disambiguation/{{ bibsched_id }}">{{ bibsched_id }}</a>
                 {% else %}
                 {{ bibsched_id }}
                 {% endif %}
          </td>
          <td>
                 {{ cluster }}
          </td>
          {% if running %}
          <td>
                 {{ phase }}  <progress value="{{ progress }}" max="1"></progress><br>
          </td>
          {% endif %}
          <td>
                 {{ args['threshold'] }}
          </td>
          <td>
                 {{ start }}
          </td>
          <td>
                 {% if running %}
                   <form name="kill-form" action="" method="post">
                        <input type="hidden" name="kill-task-id" value="{{ bibsched_id }}" />
                    <button class="btn btn-default btn-xs" type="submit" >
                        Kill
                    </button>
                   </form>
                 {% else %}
                 {{ end }}
                 {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>

  </table>

  {% if running %}
    <form class="refresh-form" method="post" action="">
      <button class="btn btn-default btn-primary" type="button" onclick="document.getElementsByClassName('refresh-form')[0].submit();">
          <span class="glyphicon glyphicon-refresh"></span>Refresh
      </button>
    </form>
  {% endif %}

  </div>

</div>

{% endmacro %}


<div class="col-md-offset-1 col-md-3">

    <div class="well inspire-well">
    <div class="bai-box-title">
      <span>Run algorithm</span>
    </div>
    <form class="disambiguate-form form-inline" method="post" action="" >
        <table class="table" width="100%" cellpadding="0" cellspacing="10" border="0">

            <div class="input-group">
              <span class="input-group-addon">Name  </span>
              <input type="text" class="form-control" name="name" placeholder="e.g 'Ellis, J' or 'Ellis'">
            </div><p>
            <div class="input-group">
              <span class="input-group-addon">Threshold</span>
              <input type="text" class="form-control" name="threshold" placeholder="A value from 0 to 1">
            </div><p><p>
            <button class="btn btn-default" type="submit" >
                Disambiguate!
            </button>
        </table>
    </form>
    </div>

</div>

<div class="col-md-7">

{{ task_table(running_disambiguation_tasks, "runningJobs", "Running Jobs", running=True) }}
</div>

<div class="col-md-offset-1 col-md-10">

{{ task_table(completed_disambiguation_tasks, "completedJobs", "Completed Jobs", profiles=True) }}

{{ task_table(failed_disambiguation_tasks, "failedJobs", "Failed Jobs") }}

</div>
{% endblock %}